
@{
    ViewBag.Title = "XemUuDai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content container">
    <h4 class="title-page">Xem quà tặng</h4>
    @*<div class="header-search">
        <form action="form.php" class="form form-search-header">
            <input type="text" placeholder="Tìm kiếm ở đây...">
            <select name="show-categories" id="show-categories">
                <option value="all">Tìm kiếm theo...</option>
                <option value="Automovie & Motorcyle">Mã quà tặng</option>
                <option value="Electronics">Mã đơn đặt hàng</option>
                <option value="Sport & Outdoors">Tên khách hàng</option>
            </select>
            <button class="button-search"><i class="flaticon-search"></i></button>
        </form>
    </div>*@
    <div class="shop-table-content container">
        <form method="post" action="ViewHistory" class="shoping-form">
            <div class="div-table-cart">
                <table class="shop_table cart">
                    <thead>
                        <tr>

                            <th class="product-name">Mã quà tặng và ưu đãi</th>
                            <th class="product-name">Tên quà tặng</th>
                            <th class="product-name">Nội dung</th>
                            <th class="product-name">Trạng thái</th>
                            
                            <th class="product-edit">Ghi chú</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (KLTN_QLKHACHHANG.Models.QuaTangvaUuDai qt in Model)
                        {
                            
                            <tr class="cart_item">
                                <td class="product-name" data-title="Product Name">
                                    @qt.id
                                </td>
                                <td class="edit">@qt.tenqt</td>
                                <td class="product-name" data-title="Unit Price">
                                    
                                    @qt.noidung
                                </td>
                                <td class="product-name" data-title="Qty">
                                    @if (int.Parse(qt.trangthai) == 0)
                                    {
                                       @Html.Raw("Chưa nhận")
                                    }else
                                    {
                                        @Html.Raw("Đã nhận")
                                    }
                                </td>
                                

                                <td class="edit"><a href="#"></a></td>
                                
                            </tr>
                        }
                    </tbody>

                </table>

            </div>

        </form>

    </div>
</div>

